.mapa{
    border-radius: 20px;
    box-shadow: 4px 4px 4px 2px rgb(50, 50, 50);
}

ul li{
    list-style: none;
    font-size: 20px;
}

a{
    color: purple;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

/*animação linha*/
a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    background-color: purple;
    left: 0;
    transition: width 0.4s ease;
}

a:hover::after {
    width: 100%;
}